.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:24px;
}
.last {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top:24px;
}

.home-cards {
    width: 44%;
    background-color:white;
    max-height: 90vh;
}


@media screen and (max-width: 768px) {
    .first{
        display:flex;
        flex-direction:column;
        justify-content:center;
       
    }
    .last {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .home-cards{
        width:100%;
        margin-bottom:1em;
    }
}
