
/*.react-datalist-input__container {
    width: inherit;
    position: fixed;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --gray: rgb(200, 200, 200);
    --padding: 5px;
    --border-radius: 5px;
    --border: 1px solid var(--gray);*/
    /*  z-index:100;*/
/*}

.react-datalist-input__textbox {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    position: relative;*/
    /*    z-index: 1020;*/
/*}


.react-datalist-input__listbox {
    width: 100%;
    position: absolute;
    margin: 2px 0 0 0;
    padding: 0;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: white;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: var(--shadow);
    z-index: 10000;
}*/

.ag-row-focus {
    z-index: 999;
}

.ag-cell-value,
.ag-cell {
    overflow: visible;
    padding: 0;
    font-size: 1rem;
}
.ag-row{
    height:44px;
}

.ag-root-wrapper-body.ag-layout-normal {
    flex: 1 1 auto;
    height: 0;
    min-height: 0;
    margin: 0;
}


.ag-body{
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row !important;
    min-height: 0;
    margin: 0;

}
.ag-grid-auto :focus{
    border:none;
}

.ag-header-row {
    height: 47px;
    top: 0px;
    width: 1219.19px;
    background-color: lightslategray;
    color: white;
    font-size: 1.1rem;
    font-weight:600;
}
.ag-header-cell, .ag-header-group-cell {
    padding-left: var(--ag-cell-horizontal-padding);
    padding-right: var(--ag-cell-horizontal-padding);
    color:white;
   
}
.ag-ltr .ag-header-cell-resize {
    right: -4px;
}

.ag-ltr .ag-cell {
    border-right: 3px solid white;
    padding-left: 0px;
    text-align: start;
    font-family: trebuc;
    font-size:20px;
}

.outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button-bar {
    margin-bottom: 1rem;
}

.grid-wrapper {
    flex: 1 1 auto;
}
.ag-row-odd {
    background-color: ghostwhite;
}

.ag-row-even {
    background-color: #f6f6f6;
}

.ag-input-field-input{
    padding:19px 10px;
    border:none;
}
.ag-header-cell-text{
    font-weight:600;
}

.ag-body-viewport-wrapper .ag-layout-normal{
    overflow-x:hidden;
    overflow-y:hidden;
}

::-webkit-scrollbar{
    -webkit-appearance:none;
    width:12px;
    height:12px;
}

::-webkit-scrollbar-thumb{
    border-radius:4px;
    background-color: rgba(0,0,0,.5);
    box-shadow:0 0 1px rgba(255, 255, 255, .5);
}

.ag-root-wrapper.ag-layout-normal {
    height: 93%;
    width: auto;
    scroll-behavior: smooth;
    border-radius: 0.25rem;
}
.ag-center-cols-viewport {
    height: calc(100% + 8px);
    overflow: scroll;
    width:100%;
    max-width: 100vw;
    min-width:100vw;
   max-height:500px;
   min-height:500px;
}
.ag-center-cols-container {
    display: block;
}
/*--------------------------material ui--------------------*/
.datalist-input {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 24%;
}

.datalist{
    border-color:#86a4c3;
}

.ag-cell-editor-autocomplete {
    background-color: #f5f6fa;
    border: 1px solid rgba(50,50,50,.6);
    box-sizing: border-box;
    max-height: 25% !important;
    max-width: 27% !important;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
}

.autocomplete {
    border: 1px solid darkgray;
    background-color: white;
    padding: 5px 4px;
    cursor: pointer;
}
/*div[id^=autocomplete-lgbvyowzywbbvkloje]{
  color:orange;
} */
.selected{
    background-color:cornflowerblue;
}