<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile=".\Logs\log.txt" internalLogLevel="Trace">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<target xsi:type="Database"
		  name="dbTarget"
		  connectionString="Server=ESLAPIT2\\SQL2019;Database=ES_Comp0001_2022;Persist Security Info=True;User ID=sa;Password=1234;MultipleActiveResultSets=True"
		  commandText="INSERT INTO [MyLogs](When,Message,Level,Exception,Trace,Logger) VALUES (getutcdate(),@msg,@level,@exception,@trace,@logger)">
		<parameter name="@msg" layout="${message}" />
		<parameter name="@level" layout="${level}" />
		<parameter name="@exception" layout="${exception}" />
		<parameter name="@trace" layout="${trace}" />
		<parameter name="@logger" layout="${logger}" />
	</target>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Error" writeTo="dbTarget" />
	</rules>
</nlog>