* {
    margin: 0 auto;
}


form {
    display: flex;
    flex-direction: column;
}

.outer-container {
    width: 40%;
    padding: 0;
    margin: 4em auto;
    min-height: 70vh;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
}

.inner-container {
    width: 70%;
    padding: 0;
    min-height: 29vh;
    margin-top: 10px;
}

.content_Header {
    font-size: 16px;
}

.page_Header {
    margin-top: 10px;
    font-size: 25px;
}
.form_title{
    color:darkblue;
}


.input-fields {
    margin: 0.5em 0;
    padding: 1.5em 2em;
    text-align: center;
}

.footer2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    
}

.submit-button {
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
}

span {
    text-align: center;
    padding:10px 0;
}
.password-container {
    width: 33.4%;
    position: relative;
}

    .password-container input[type="password"],
    .password-container input[type="text"] {
        width: 100%;
        padding: 12px 36px 12px 12px;
        box-sizing: border-box;
    }

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}

@media (max-width: 975px) {
    .outer-container {
        min-width: 95vw;
    }
}

@media (min-width: 975px) {
    .outer-container {
        min-width: 30vw;
    }
}
